* {
   -moz-box-sizing:    border-box;   
   -webkit-box-sizing: border-box;   
    box-sizing:        border-box;   
}
html
{
  font-size: 16px;
}

header
{
  height: 85vh;
  width: 100vw;
  background: #ffffff url("https://unsplash.imgix.net/19/clock.JPG?q=75&fm=jpg&s=c424614ae83cef32017167031925460d") no-repeat top;

  overflow: hidden;
}
.filter
{
  height:100%;
  width:100%;
  background:rgba(46, 204, 113,0.75);
}
header .cta
{
  background: initial;
  padding: 20vh 2.5vw;
  color: white;
}
header h1, header h2
{
  font-size:5em;
  text-align: right;
  font-family: sans-serif;
  margin:1rem 0;
}
header h2
{
  font-size:1.25em;
}
header a
{
  font-family: sans-serif;
  text-decoration: none;
  display: block;
  color: inherit;
  background: none;
  font-size: 1em;
  border-radius: 5px;
  border: 0.15rem solid white;
  padding: 3vh;
  margin:1rem 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float:right;
}
.scroll
{
  text-decoration: none;
  color: #2ecc71;
  display: block;
  font: 6em/5rem Molengo, sans-serif;
  text-align:center;

  
  margin:-3rem auto 0 auto;
  width: 6rem;
  height: 6rem;
  background-color: white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 300px 5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px 2.5px rgba(0,0,0,1);

}

section
{
  display: block;
  height: 100vh;
  padding: 20vh 0;
}



section h1
{
  font-size: 5em;
  text-decoration: underline;
  font-family: sans-serif;
  text-align: center;
  margin: 2.5rem 0;  
}



#about .profile
{
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  height:calc((100vh/1.618)*(1.618/1.35)) ;
  width: calc((100vh/1.618));
  margin: 0 2.5rem 0 5rem ;
}
section .container
{
  display: inline-block;
  margin: 0 5rem 0 3.5rem;
  width: 45vw;
  overflow: none;
  text-align: center;
}

section .about
{
  display: inline-block;
  width: 100%;
  margin: 0;
}

#about ul
{
  display: block;
  text-align: left;
  margin-top: 1rem;
  
}
#about ul li
{
  display: inline-block;
  -webkit-border-radius: calc((1.5rem)/16.18);
  -moz-border-radius: calc((15rem )/16.18);
  border-radius: calc((15rem)/16.18);
  background: #ccc;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  
  text-align: center;
  color: #2c3e50;
  font-family: Molengo, sans-serif;
  font-size: 1.5rem;
}


